#
# Service file for starting & using the rfid_media_player with systemd
#

[Unit]
Description=rfid_media_player application

[Service]
Type=simple
# Change to the path rfid_media_player is installed and modify vendor id, product id and track file path
ExecStart=-/home/paw/01-ED/09-Programming/10-rust/08-media-player-card-reader/target/release/rfid_media_player -v 16c0 -p 27db -t tracks.yaml
# Change path of working directory
WorkingDirectory=/home/paw/01-ED/09-Programming/10-rust/08-media-player-card-reader/rfid_media_player

# Required to enable the service on start-up
[Install]
WantedBy=default.target